.leaderboard {
  width: 400px;
  color: #888888;
}

.leaderboard__title {
  text-align: center;
  font-weight: 500;
  font-size: 35px;
}

.person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 2px;
  font-size: 18px;
  background-color: #CFD8DC;
}
